.logo {
  width: 30px;
  height: 30px;
  margin-top: -4px;
}

main {
  padding: 0, 90px, 0, 90px;
}

footer p {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding: 10px;
  color: white;
}

.navbar {
  border-bottom: 1px solid rgb(69, 77, 85);
  justify-content: space-around;
}

header {
  padding-bottom: 57px;
}

footer {
  margin-top: 50px;
  border-top: 1px solid rgb(69, 77, 85);
}

main .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-link {
  color: white;
}

.container.info {
  height: 260px;
}

.col-4 {
  background-image: url("./img/transparencia.jpg");
}
