body {
  background: #7c8a96;
}

/*NAVBAR*/
.navbar-brand {
  font-size: 18px;
}

.navbar a {
  font-weight: 300;
}

/*LOGO*/
.navbar-brand img {
  width: 30px;
}

/*IMAGE*/
.main-img {
  background-image: url("./img/transparencia.jpg");
  background-repeat: no-repeat;
  min-height: 100%;
  background-size: cover;
}

/*MOBILE MENU*/
.navbar-dark .navbar-toggler {
  border: none;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.checkboxes {
  display: flex;
  padding-top: 16px;
}

.state-select {
  margin-top: 16px;
}

input[type="checkbox"] {
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 2px;
}

.filters {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
.table {
  margin-bottom: 8px;
}

#loading-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  z-index: 3;
  margin-bottom: -100%;
}
