/*NAVBAR*/
.navbar-brand {
  font-size: 18px;
}

.navbar a {
  font-weight: 300;
}

/*LOGO*/
.navbar-brand img {
  width: 30px;
}

/*IMAGE*/
.main-img {
  background-image: url("./img/transparencia.jpg");
  background-repeat: no-repeat;
  min-height: 100%;
  background-size: cover;
}

/*MOBILE MENU*/
.navbar-dark .navbar-toggler {
  border: none;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.checkboxes {
  display: flex;
  padding-top: 16px;
}

input[type="checkbox"] {
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 2px;
}

.filters {
  display: flex;
  justify-content: space-between;
}
